body {
	color: #2b2b2b;
}

.logo {
 position:absolute;
   top:10px;
   left:10px;
   z-index: 999;
   font-size: 22px;
   font-weight: bold;
   background-color: white;
   padding: 7px;

   	-moz-box-shadow: 0 0 10px #5b5b5b;
	-webkit-box-shadow: 0 0 10px #5b5b5b;
	box-shadow: 0 0 10px #5b5b5b;
}

.comp {
	width: 100%;
	padding-bottom: 2%;
}

.comp img {
	width: 10%;
	float: left;
	padding: 4px;
}

.info-panel-back-map {
	background-color: white;
		height: 100%;
		width: 100%;
	overflow-y:hidden;
	overflow-x:hidden;
}

.info-panel-back {
	background-color: white;
	height: 100%;
	margin: 0;
	width: 100%;
	overflow-y: scroll;
	overflow-x:hidden;
}

.info-panel {
	background-color: white;
	padding: 0.01%;
	margin: 0;
	
}

.info-panel-overview {
	background-color: white;
	padding: 5%;
	margin: 3% auto;
	width: 90%;
	height: 20%;

	-moz-box-shadow: 0 0 10px #d6d8db;
	-webkit-box-shadow: 0 0 10px #d6d8db;
	box-shadow: 0 0 10px #d6d8db;

}

.info-panel-title {
	font-weight: bold;
	font-size: 12px;
}


.img-fluid {
	width: 100%; 
}

.info-panel-description {
	text-align: left;
	padding: 1%;
}

.