.info-panel-back-map {
	background-color: #12E5A2;
		height: 100%;
}

.info-panel-back {
	background-color: #0FFFB4;
	height: 100%;
	margin: 0;
	width: 100%;
}

.info-panel {
	background-color: #0FFFB4;
	padding: 0.01%;
	margin: 0;
}


.info-panel-overview {
	background-color: #0BBF87;
	padding: 5%;
	margin: 3% auto;
	width: 90%;
	height: 20%;
}


.img-fluid {
	width: 100%; 
}

.info-panel-description {
	text-align: left;
	padding: 1%;
}